[MASTER]
disable=
    missing-docstring, 
    empty-docstring,
    line-too-long,
    invalid-name,
    too-many-ancestors,
    too-few-public-methods,

load-plugins=pylint_django
django-settings-module=django_project.settings