body {
  font-family: "Arial", sans-serif;
  overflow-y: auto;   
}

/* Style for the Registration Box */
.card {
  width: 100%;
}

/* Style for the Service Cards and Laundromat Cards */
.card {
  height: 100%;
}

/* Style for the Footer */
footer {
  padding: 20px 0;
  color: #777;
  background-color: #f8f9fa;
  width: 100%;
  bottom: 0;
  position: relative;
  left: 0;
  text-align: center;
}

.timer-box {
  width: 100px; 
  height: 25px; 
  margin: auto; 
  border: 1px solid red;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: medium;
  font-family: serif;
  font-weight: 600;
}

.machine-image > img {
  height: 100%;
    width: 100%;

}

/* Responsive Design */
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .navbar-brand img {
    height: 20px;
  }

  .navbar button {
    margin-top: 10px;
  }

  .card {
    margin-bottom: 20px;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 500px){
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.laundromats-list {
  cursor: pointer;
}

