/* Add your custom styles here */

body {
  font-family: "Arial", sans-serif;
}

/* Style for the Registration Box */
.card {
  width: 100%;
}

/* Style for the Service Cards and Laundromat Cards */
.card {
  height: 100%;
}

/* Style for the Footer */
footer {
  padding: 20px 0;
  color: #777;
  background-color: #f8f9fa; /* Add background color */
  width: 100%; /* Ensure full width */
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom */
  left: 0; /* Align to the left */
  text-align: center; /* Center-align content */
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .navbar-brand img {
    height: 20px;
  }

  .navbar button {
    margin-top: 10px;
  }

  .card {
    margin-bottom: 20px;
  }

  footer {
    text-align: center;
  }
}
