<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Your Laundry App</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"
        ><img src="logo.png" alt="Logo" height="30"
      /></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        </ul>
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button">
        Account
      </button>
    </nav>

    <!-- Main Section -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8">
          <h2>Springs Laundromats</h2>
          <h6 class="mt-4">Making your washes convenient</h6>
          <p class="mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="col-md-4">
          <!-- Registration Box -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Springs Laundromats</h5>
              <!-- Registration Form Goes Here -->
              <form>
                <div class="form-group">
                  <label for="username">Full Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter your full name"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="form-group">
                  <label for="username">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter your password"
                  />
                </div>
                <div class="form-group">
                  <label for="username">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter your phone"
                  />
                </div>
                <div class="form-group">
                  <label>User Type</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="userType"
                      id="customer"
                      value="customer"
                      checked
                    />
                    <label class="form-check-label" for="customer"
                      >Customer</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="userType"
                      id="serviceProvider"
                      value="serviceProvider"
                    />
                    <label class="form-check-label" for="serviceProvider"
                      >Service Provider</label
                    >
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Create Account
                </button>
                <p class="mt-2 text-center">
                  Already a member? <a href="#">Log in</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-3" />
      <!-- Our Services Section -->
      <div class="text-center mt-4">
        <h2>Our Services</h2>
        <div class="row mt-4">
          <!-- Service Cards Go Here -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Book your machine</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Track with timer</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Automated Scheduling</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod temporLorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-3" />

      <!-- Our Laundromats Section -->
      <div class="text-center mt-4">
        <h2>Our Laundromats</h2>
        <!-- Laundromat Cards or Carousel Go Here -->
        <div class="row mt-4">
          <div class="col-md-4 mb-4">
            <div
              class="card laundromats-list"
              onclick="window.location.href='{% url 'machine_list' %}'"
            >
              <div class="card-body">
                <h5 class="card-title">Crossroads Laundry Services</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div
              class="card laundromats-list"
              onclick="window.location.href='{% url 'machine_list' %}'"
            >
              <div class="card-body">
                <h5 class="card-title">Super Laundry</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div
              class="card laundromats-list"
              onclick="window.location.href='{% url 'machine_list' %}'"
            >
              <div class="card-body">
                <h5 class="card-title">Smooth Laundry Services</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="pt-4 mt-4 bg-light">
      <div class="container">
        <div class="row">
          <!-- Footer Columns Go Here -->
          <div class="col-md-2">
            <h5>Logo</h5>
            <ul class="list-unstyled">
              <li></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Address</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
              <li><a href="#">Link 6</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 7</a></li>
              <li><a href="#">Link 8</a></li>
              <li><a href="#">Link 9</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>About us</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 10</a></li>
              <li><a href="#">Link 11</a></li>
              <li><a href="#">Link 12</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Socials</h5>
            <p>Contact Information and Social Links</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
