
<!-- homepage.html -->
{% extends 'base.html' %}

{% block title %}Laundry Day Landing Page{% endblock %}


{% block content %}
    <!-- Main Section -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8">
          <h2>Springs Laundromats</h2>
          <h6 class="mt-4">Making your washes convenient</h6>
          <p class="mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="col-md-4">
          <!-- Registration Box -->
          {% if not user.is_authenticated %}
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Springs Laundromats</h5>
                  <!-- Registration Form Goes Here -->
                  <form class="signup" method="post" action="{% url 'signup' %}"> <!-- Add action attribute -->
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username" 
                        placeholder="Enter a username"
                      />
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email" 
                        placeholder="Enter your email"
                      />
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label> <!-- Correct id to "password" -->
                      <input
                        type="password" 
                        class="form-control"
                        id="password" 
                        name="password" 
                        placeholder="Enter your password"
                      />
                    </div>
                    <div class="form-group">
                      <label for="confirm_password">Confirm Password</label>
                      <input
                        type="password" 
                        class="form-control"
                        id="confirm_password" 
                        name="confirm_password" 
                        placeholder="Confirm your password"
                      />
                    </div>
                    <div class="form-group">
                      <label for="group">User Type</label>
                      <select name="group" id="group" class="form-control">
                        <option value="Customer">Customer</option>
                        <option value="Owner">Service Provider</option>
                      </select>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                      Create Account
                    </button>
                    <p class="mt-2 text-center">
                      Already a member? <a href="{% url 'login' %}">Log in</a>
                    </p>
                  </form>
                </div>
              </div>
              
          {% endif %}
        </div>
      </div>

      <hr class="mt-3" />
      <!-- Our Services Section -->
      <div class="text-center mt-4">
        <h2>Our Services</h2>
        <div class="row mt-4">
          <!-- Service Cards Go Here -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Book your machine</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Track with timer</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Automated Scheduling</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod temporLorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-3" />

      <!-- Our Laundromats Section -->
      <div class="text-center mt-4">
        <h2>Our Laundromats</h2>
        <!-- Laundromat Cards or Carousel Go Here -->
        <div class="row mt-4">
          <div class="col-md-4 mb-4">
            <div
              class="card laundromats-list"
              onclick="window.location.href='{% url 'machine_list' %}'"
            >
              <div class="card-body">
                <h5 class="card-title">Crossroads Laundry Services</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div
              class="card laundromats-list"
              onclick="window.location.href='{% url 'machine_list' %}'"
            >
              <div class="card-body">
                <h5 class="card-title">Super Laundry</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div
              class="card laundromats-list"
              onclick="window.location.href='{% url 'machine_list' %}'"
            >
              <div class="card-body">
                <h5 class="card-title">Smooth Laundry Services</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

