{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1>Laundromats Near You</h1>
  {% if laundromat_list %}
    <div class="list-group">
      {% for laundromat in laundromat_list %}
        <div class="list-group-item">
          <h5>{{ laundromat.name }}</h5>
          <p>{{ laundromat.location }}</p>
        
          <!--  laundromat.rating or laundromat user rating -->
          <!-- once we install that function i believe it would go here-->
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No laundromats found for your search. Please try again.</p>
  {% endif %}


</div>
{% endblock %}
