<!-- laundromat_detail.html -->
{% extends 'base.html' %}

{% block title %}Update Laundromat{% endblock %}

{% block content %}
<h1>Update Your Laundromat's Information</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="laundromatName">Laundromat Name</label>
    <input type="text" class="form-control" id="laundromatName" name="name" placeholder="Enter laundromat name">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" name="location" placeholder="Enter location">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
