<!-- machine_list.html -->

{% extends 'base.html' %} 

{% block title %}Machines in {{ laundromat.name}}{%endblock %} 




{% block content %}

<div class="container">
  <h1 class="mt-4">Machines in {{ laundromat.name }}</h1>
  {% if machine_list %}
  <div class="list-group mt-4">
    <div class="row mt-4">
      {% for machine in machine_list %}
      <div class="col-md-3 mb-2">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">{{ machine.machine_choice }}</h5>
            <p class="mb-1">Machine ID: {{ machine.machine_ID }}</p>
            <img class="machine-image" src="#" />
            <br />
            <span class="badge bg-success text-white">Available</span>
              <!--Machine reservation function-->
              <div class="mt-3">
                <button type="button" class="btn btn-primary make_reserve" onclick="reservation(1)">Make reservation</button>
            </div>
            <!--Timer for laundry machine in use-->
            <div class="timer-box">
                <span class="result" id="result1"></span>
            </div>
            <!--Buttons for starting and stopping timer-->
            <button type="button" class="btn btn-primary startButton">Start</button>
            <button type="button" class="btn btn-primary stopButton">Stop</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="alert alert-info mt-4" role="alert">
    There are no machines in {{ laundromat.name }}.
  </div>
  {% endif %}
</div>

<script>
  (function() {
      document.querySelectorAll('.card').forEach(function(card, index) {
          var current = new Date();
          current.setHours(current.getHours() + 1);
          let time;
          let count = current - new Date();
          const result = card.querySelector('.result');
          const start = card.querySelector('.startButton');
          const stop = card.querySelector('.stopButton');

          // Start the timer
          function start_time() {
              current = new Date(new Date().getTime() + count);
              time = setInterval(decrement_time, 1000);
              start.disabled = true;
              stop.disabled = false;
          }

          // Pause the timer
          function stop_time() {
              clearInterval(time);
              start.disabled = false;
              stop.disabled = true;
              count = current - new Date();
          }

          // Apply timer formula and display output
          function decrement_time() {
              var current_2 = new Date().getTime();
              count = current - current_2;
              let minutes = Math.floor((count % (1000 * 60 * 60)) / (1000 * 60));
              let seconds = Math.floor((count % (1000 * 60)) / 1000);
              result.textContent = minutes + "m " + seconds + "s ";
          }

          start.addEventListener('click', start_time);
          stop.addEventListener('click', stop_time);
          decrement_time();
      });
  })();

  // Check if reservation button is cicked
  function reservation(get_machine) {
      var button = document.querySelectorAll('.make_reserve')[get_machine - 1];
      button.disabled = true;
      localStorage.setItem('check_clicked' + get_machine, 'disabled');
      window.location.href = '{% url 'reserve_machine' %}';
      
      // Change machine status text to available
      var label_text = document.getElementById('get_available' + get_machine);
      label_text.innerText = "Available";
      label_text.classList.remove('bg-success');
      label_text.classList.add('bg-danger');
      
      // Reload page after reservation is made to start tracking time till reservation ends
      setTimeout(() => {
          location.reload();
      }, 100);
  }

  window.onload = function() {
      for (let i = 1; i <= 3; i++) {
          var set_clicked = localStorage.getItem('check_clicked' + i);
          var button = document.querySelectorAll('.make_reserve')[i - 1];
          if (set_clicked === 'disabled') {
              button.disabled = true;
              // Change machine status text to unavailable
              var label_text = document.getElementById('get_available' + i);
              label_text.innerText = "Unavailable";
              label_text.classList.remove('bg-success');
              label_text.classList.add('bg-danger');

              // Enable reservation button again after one hour
              setTimeout((function(btn) {
                  return function() {
                      btn.disabled = false;
                      localStorage.removeItem('check_clicked' + i);

                      // Reload page for machine status text to take effect
                      setTimeout(() => {
                          location.reload();
                      }, 100);
                  };
              })(button), 5000);
          }
      }
  };
</script>
{% endblock %}
