<!-- machines.html -->
{% extends 'base.html' %}

{% block title %}Machines{% endblock %}
   
{% block content %}
    <div class="container mt-4">      
      </div>      
      <div class="mt-4">    
        
        <div class="container mt-4">
            <h3>Welcome to crossroads laundry service</h3>
        <h5>Our machines</h5>
        <div class="row mt-4">
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title">Washer 1</h5>
                <div class="machine-image">
                <img src="https://pics.clipartpng.com/midle/White_Washing_Machine_PNG_Clip_Art-3183.png"/>
              </div>
                <br/>
                <span class="badge bg-success text-white">Slots Available</span>
                <div class="mt-3">
                    <button type="button" class="btn btn-primary"  onclick="window.location.href='{% url 'reserve_machine' %}'">Make reservation</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Washer 1</h5>
                  <div class="machine-image">
                    <img src="https://pics.clipartpng.com/midle/White_Washing_Machine_PNG_Clip_Art-3183.png"/>
                  </div>
                  <br/>
                  <span class="badge bg-success text-white">Slots Available</span>
                  <div class="mt-3">
                      <button type="button" class="btn btn-primary"  onclick="window.location.href='{% url 'reserve_machine' %}'">Make reservation</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Washer 1</h5>
                  <div class="machine-image">
                    <img src="https://pics.clipartpng.com/midle/White_Washing_Machine_PNG_Clip_Art-3183.png"/>
                  </div>
                  <br/>
                  <span class="badge bg-danger text-white">Unavailable</span>

                  <!--Timer for laundry machine in use-->

                  <div class = "timer-box">

                    <span id="result"></span>
                  </div>

                  <!--Buttons for starting and stopping timer-->

                  <button type ="button" class="btn btn-primary" id="start">Start</button>
                  <button type ="button" class="btn btn-primary" id="stop">Stop</button>


                  <script>
                    // Create and initialize variables
                    var current = new Date();
                    current.setHours(current.getHours() + 1);
                    let time;
                    let count = current - new Date();
                    const result = document.getElementById('result');
                    const start = document.getElementById('start');
                    const stop = document.getElementById('stop');
                    
                    // Function to start timer
                    function start_time() {
                      current = new Date(new Date().getTime() + count);
                      time = setInterval(decrement_time, 1000);
                      start.disabled = true;
                      stop.disabled = false;
                    }
                    
                    // Function to stop timer
                    function stop_time() {
                      clearInterval(time);
                      start.disabled = false;
                      stop.disabled = true;
                      count = current - new Date(); 
                    }

                    // Function to decrement timer by the second
                    function decrement_time() {
                      var current_2 = new Date().getTime();
                      count = current - current_2;
                      
                      // Calculate 60 minutes for timer using minutes and seconds
                      let minutes = Math.floor((count % (1000 * 60 * 60)) / (1000 * 60));
                      let seconds = Math.floor((count % (1000 * 60)) / 1000);
                      
                      // Output countdown timer
                      result.textContent = minutes + "m " + seconds + "s ";
                    }

                    start.addEventListener('click', start_time);
                    stop.addEventListener('click', stop_time);
                    decrement_time();
                  </script>

                  <div class="mt-3">
                      <button type="button" class="btn btn-secondary" disabled>Make reservation</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
      </div>
    </div>
 {% endblock %}
   
