<!-- machine_update.html -->
{% extends 'base.html' %}

{% block title %}Update Machine{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-4">Update Machine for {{ form.instance.laundromat.name }}</h1>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <!-- Render the laundromat field (hidden) -->
    <input type="hidden" name="laundromat" value="{{ form.instance.laundromat.pk }}">
    <div class="form-group">
      <label for="machineID">Machine ID</label>
      <input type="text" class="form-control" id="machineID" name="machine_ID" placeholder="Enter the ID number on your machine." value="{{ form.instance.machine_ID }}">
    </div>
    <div class="form-group">
      <label for="machineChoice">Machine Choice</label>
      <select class="form-control" id="machineChoice" name="machine_choice" value="{{ form.instance.machine_choice }}">
        <option value="Dryer">Dryer</option>
        <option value="Washer">Washer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" name="status" value="{{ form.instance.status }}">
        <option value="Open">Open</option>
        <option value="Reserved">Reserved</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
