<!-- machine_list.html -->

{% extends 'base.html' %}

{% block title %}Machines in {{ laundromat.name }}{% endblock %}



{% block content %}
<div class="container">
  <h1 class="mt-4">Machines in {{ laundromat.name }}</h1>
  {% if machine_list %}
  <div class="list-group mt-4">
    {% for machine in machine_list %}
    <div class="list-group-item">
      <h5 class="mb-1">{{ machine.machine_choice }}</h5>
      <p class="mb-1">Machine ID: {{ machine.machine_ID }}</p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="alert alert-info mt-4" role="alert">
    There are no machines in {{ laundromat.name }}.
  </div>
  {% endif %}
</div>
{% endblock %}
