<!-- payment.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Make Payment{% endblock %}

{% block content %}
<div class="container">
  <h1>Make Payment</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" id="payment-form">
        {% csrf_token %}

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="address-element">Billing Address</label>
            <div id="address-element" class="form-group">
              <!-- Stripe Element goes here -->
            </div>
            <!-- Used to display form errors -->
            <div id="address-errors" role="alert"></div>
          </div>

        <!-- Card Element -->
        <div class="form-group">
          <label for="card-element">Credit or Debit Card</label>
          <div id="card-element" class="form-control">
            <!-- Stripe Element goes here -->
          </div>
          <!-- Used to display form errors -->
          <div id="card-errors" role="alert"></div>
        </div>

        <button class="btn btn-primary" type="submit">Submit Payment</button>
        <a href="{% url 'cancel_payment' %}" class="btn btn-danger">Cancel Payment</a>

      </form>
    </div>
  </div>
</div>

<body data-stripe-public-key="{{ stripe_public_key }}">


<!-- Stripe.js library -->
<script src="https://js.stripe.com/v3/"></script>

<script src="{% static 'stripe_payment.js' %}"></script>
{% endblock %}