<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Laundry day</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"
        ><img src="logo.png" alt="Logo" height="30"
      /></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        </ul>
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button">
        Account
      </button>
    </nav>

    
    <div class="container mt-4">      
      </div>

      <div class="mt-4">
       
        <div class="container mt-4">
            
        <h5>Select a time slot for machine 1</h5>
        <div class="row mt-4">
          <div class="col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="card-title">Washer 1</h5>
                <img class="machine-image" src="#"/>
                  </div>
                  <div class="col-md-9">
                    <div class="slot-time">
                      <button type="button" class="btn btn-outline-dark">9:00AM to 10:00AM</button>
                      <button type="button" class="btn btn-outline-dark">10:00AM to 11:00AM</button>
                    </div>
                    <div class="slot-time mt-2">
                      <button type="button" class="btn btn-outline-dark">2:00PM to 3:00PM</button>
                      <button type="button" class="btn btn-outline-dark">3:00PM to 4:00PM</button>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="mt-2 float-right">
          <button type="button" class="btn btn-primary btn-sm">Reserve Now</button>
        </div>
    </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="pt-4 mt-4 bg-light">
      <div class="container">
        <div class="row">
          <!-- Footer Columns Go Here -->
          <div class="col-md-2">
            <h5>Logo</h5>
            <ul class="list-unstyled">
              <li></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Address</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
              <li><a href="#">Link 6</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 7</a></li>
              <li><a href="#">Link 8</a></li>
              <li><a href="#">Link 9</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>About us</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 10</a></li>
              <li><a href="#">Link 11</a></li>
              <li><a href="#">Link 12</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Socials</h5>
            <p>Contact Information and Social Links</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
